body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #0088cc;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
}
nav a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #0077b6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

nav a:hover {
    background-color: #005f8a;
}
.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #eaf8ff;
}

.hero h2 {
    font-size: 40px;
}

button {
    background-color: #0088cc;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
}

section {
    padding: 50px;
}

#services {
    background-color: #f5f5f5;
}

.service-card {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}
