
body {
  background-image: url('Capture3.JPG');
  background-repeat: no-repeat;
  /* background-repeat: repeat-x; */
  /* background-repeat: repeat-y; */
  background-attachment: fixed;
  /* opacity: 0.3; */
}




